/* You can add global styles to this file, and also import other style files */
@use './app/styles/utils';
@use './app/styles/spacing-variables';
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import 'material-symbols/outlined.css';

:root {
  --background: hsl(270, 20%, 8%);
  --background-gradient: hsl(280, 25%, 12%);
  --border: hsl(40, 65%, 80%);
  --text: hsl(40, 70%, 85%);
  --button-hover: hsl(280, 25%, 12%);

  font-family: 'Mikadan', sans-serif;

  @include mat.toolbar-overrides(
    (
      container-background-color: rgb(32, 32, 32),
      container-text-color: #b84949,
    )
  );
}

body {
  font-family: 'Mikadan', sans-serif;
}
