/* You can add global styles to this file, and also import other style files */
@use './app/styles/utils';
@use './app/styles/spacing-variables';
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import 'material-symbols/outlined.css';

:root {
  --background: hsl(270, 20%, 8%);
  --background-gradient: hsl(280, 25%, 12%);
  --border: hsl(40, 65%, 80%);
  --text: hsl(40, 70%, 85%);
  --button-hover: hsl(280, 25%, 12%);

  --mat-sys-primary: rgb(168, 58, 58);
  --mat-sys-on-primary: rgb(168, 58, 58);

  font-family: sans-serif;

  @include mat.toolbar-overrides(
    (
      container-background-color: rgb(32, 32, 32),
      container-text-color: #b84949,
    )
  );

  @include mat.tabs-overrides((
    active-focus-indicator-color: rgb(168, 58, 58),
    active-indicator-height: 5px,
    label-text-font: 'sans-serif',
    label-text-weight: bold
  ));

  .dialog-title {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
    font-size: 20px !important;
    padding: var(--spacing-1) var(--spacing-1) !important;
    background: #b84949;
    font-family: Roboto, sans-serif !important;
  }

  .dialog-content {
    padding: 10px !important;
  }

  @include mat.theme(
    (
      //color: (),
      typography: sans-serif,
      //density: -2,
    ),
    (
      corner-extra-large: var(--border-radius-2),
      corner-extra-large-top: var(--border-radius-2) var(--border-radius-2) 0 0,
      corner-extra-small: var(--border-radius-1),
      corner-extra-small-top: var(--border-radius-1) var(--border-radius-1) 0 0,
      corner-full: var(--border-radius-1),
      corner-large: var(--border-radius-2),
      corner-large-end: 0 var(--border-radius-2) var(--border-radius-2) 0,
      corner-large-start: var(--border-radius-2) 0 0 var(--border-radius-2),
      corner-large-top: var(--border-radius-2) var(--border-radius-2) 0 0,
      corner-medium: var(--border-radius-1),
      corner-none: 0,
      corner-small: var(--border-radius-1),
    )
  );

}